/* 
ENTREPRISE 
*/

#main_entreprise { 
    padding-top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(https://image.noelshack.com/fichiers/2018/13/1/1522055840-opacite.png), url(https://image.noelshack.com/fichiers/2018/13/1/1522022184-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#main_entreprise h1, #main_entreprise h2, #main_entreprise h4, #main_entreprise p{
    color: white;
    text-align: center;
}
#main_entreprise h1 {
    font-size: 3em;
}

#main_entreprise h2 {
    margin-top: 3%;
}

#main_entreprise p {
    margin-top: 4%;
}